body{
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}


.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 2%;
    font-size: 25px;
    width: 30%;
  }
  
.tablink:hover {
    background-color: #777;
  }
.tabcontent {
    color: white;
    padding: 5%;
    height:150%;
}
.tabcontent h2{
      font-size: 50px;
      margin-top: 5%;
}
.tabcontent h3{
    font-size: 32px;
    padding-bottom: 1%;
}

.panel{
    width: 100%;
    color: #000;
    display: flex;
    justify-content: center;
}
.panel p{
      font-size: 24px;
      line-height: 80%;
}
.panel img{
  width: 70%;
  height: 70%;
  margin-bottom: 3%;
  margin-top: 3%;


}

.all{
      width: 100%;
 

}
  #economic {background-color:#819582;}
  #price {background-color: #DDB7AB;}
  #unemployment {background-color: #a19f89;}