*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    background-color:#eceae1; 
}

/*頁首頁尾開始*/
/*header*/

.header {
    background-color:#ded2c2;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content:space-between;
}

.web > a{
    width: 12%;
    height: 12%; 
    padding: 0;
}
.web{
    width: 25%;
    margin-left: 3%;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: left;
}
.web img{
    width: 1000%;
    height: 1100%;
   
}

.navbtn {
    width: 70%;
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.navbtn a{
    font-size: 26px;
    color:  #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-top: 14%; 
    justify-content: center;
}

/*'當滑鼠移到連結時超連結的樣式*/
.navbtn a:hover {
    text-decoration: underline;
}


/*footer*/
.footer{
    background-color: #ded2c2;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}
.navbtn2 {
    width: 60%;
    overflow: hidden;
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
}
.navbtn2 h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbtn2 a{
    font-size: 20px;
    color: #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
    
/*頁首頁尾結束*/

.theme img{
    width: 100%;
}



/*頁首頁尾結束*/

/*左右寬度*/
.Goods{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#eceae1;
}
.left{
    width: 100%;
}

/*商品頁*/
  .theme1{
    display: flex;
    justify-content: center;
  }
  #theme1-name h1{
    text-align: center;
    color: black;
}
 
  .theme1 h1{
    font-size: 42px;
    text-align: center;
}

.leftcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -5%;
}
.imgtxt {
    width: 25%;
    margin: 10% 1%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 650px) {
    .imgtxt {
      width: 100%;
      height: 400%;
      display: block;
    }
}
.imgtxt a{
    text-decoration: none;
    color: inherit;
}
.txt { 
    height: 620px;
    background-color:white;
}
.txt img{
    width:100% ;
    height: 65%;
}

.contain {
    text-align: left;
}

.contain::after, .all:after {
    content: "";
    clear: both;
    display: table;
}
.contain h2{
    padding-top: 3%;
    text-align: center;
}
.contain h3{
    padding-top: 3%;
    text-align: center;
}
.imgtxt:hover{
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    transform: scale(1.05,1.05); 
}

  
  /*版權*/
  .co{
    text-align: center;
    background-color: #ded2c2;
    padding-bottom: 2%;
  }